---
import Base from "../layouts/Base.astro";
---

<Base title="Contact">
  <p>
    I am currently looking for Internships and Part-Time SWE positions. If you
    want to contact me, you can reach me using the details below. I prefer
    emails where possible.
  </p>
  <nav
    class="my-6 flex flex-row items-center justify-center gap-4 rounded-lg border border-gray-400 bg-[#1d1d1d] p-4"
  >
    <a
      href="mailto:ketchup@smallketchup.ca"
      class="scale-100 transform-gpu rounded-lg bg-[#2a2a2a] px-2 py-1 shadow-white transition-all duration-300 ease-in-out select-none hover:scale-115 hover:ring"
      >Email</a
    >
    <a
      href="https://discord.com/users/296052363427315713"
      title="Not working? My username is smallketchup82"
      target="_blank"
      class="scale-100 transform-gpu rounded-lg bg-[#2a2a2a] px-2 py-1 shadow-white transition-all duration-300 ease-in-out select-none hover:scale-115 hover:ring"
      >Discord</a
    >
    <a
      href="https://github.com/smallketchup82"
      target="_blank"
      class="scale-100 transform-gpu rounded-lg bg-[#2a2a2a] px-2 py-1 shadow-white transition-all duration-300 ease-in-out select-none hover:scale-115 hover:ring"
      >GitHub</a
    >
  </nav>
  <p class="text-center">LinkedIn can be shared on request</p>
</Base>
