<nav
  class="mt-0 flex min-h-min w-screen items-center justify-center gap-4 overflow-hidden border-none bg-[rgba(25,25,25,0.5)] py-2 text-base text-white backdrop-blur-xs select-none"
  transition:persist
  transition:name="topbar"
  transition:animate="none"
>
  <a href="/">Home</a>
  <a href="/posts">Posts</a>
  <a href="/projects">Projects</a>
  <a href="/contact">Contact</a>
</nav>
